<div id="ycontrol">
    <span id="yleft" class="year">&#8810;</span>
    <span id="yright" class="year">&#8811;</span>
</div>
<div id="mcontrol">
    <span id="mleft" class="month">&#8810;</span>
    <span id="mright" class="month">&#8811;</span>
</div>
<div class="maindiv">
    <table id="diarytable"></table>
</div>

